@charset "UTF-8";
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html, body{
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}
h1{
  color: #fff;
  text-shadow: 3px 3px 0px rgb(6, 6, 85);
  padding: 10px;
}