body{
  width: 760px;
  height: 910px;
  padding-left: 450px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  border: solid 2px black ;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}
h1{
  padding-left: 200px;
}