* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
.comprar {
  background-color: #a8f;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.preco {
  background-color: #ddd;
  padding: 5px 10px;
}
.foto {
  max-width: 50%;
  border-radius: 5px;
  grid-column: 1/-1;
}
.descricao {
  grid-column: 1/3;
}
.comprar {
  grid-column: 1/3;
}
