* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
ul {
  list-style: none;
}
ul > a > li {
  float: left;
  padding: 15px;
  color: #3e3e3e;
  font-size: 14px;
}
ul > a > li:hover {
  text-decoration: underline;
}
nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}
label > img {
  width: 16px;
  height: 16px;
}
label > img:hover {
  cursor: pointer;
  background-color: #3e3e3e4d;
  border-radius: 100%;
}
#menu-drop {
  width: 300px;
  height: 600px;
  position: absolute;
  right: 20px;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #3e3e3e2a;
  border-radius: 10px;
  box-shadow: 2px 2px #3e3e3e2a;
  padding: 20px;
}
#menu,
#menu-drop {
  display: none;
}
#menu-drop img {
  width: 50px;
  height: 50px;
  padding: 5px;
}
#menu-drop > div {
  width: 100%;
  height: 15%;
  padding: 0 5px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#menu-drop > div:hover {
  background-color: #0090f723;
}
#menu:checked ~ #menu-drop {
  display: flex;
  transition-delay: 2s;
}
#logo {
  width: 340px;
  height: 120px;
  margin: 40px 0;
}
main {
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#pesquisa {
  width: 600px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #3e3e3e2a;
  box-shadow: 2px 2px #3e3e3e2a;
}
#pesquisa > img {
  width: 20px;
  height: 20px;
  margin: 10px;
}
#pesquisa input {
  width: 100%;
  margin: 0 10px;
  border: none;
  outline: none;
}

.pages-icon {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 100px;
}
.pages-icon > div {
  width: 120px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 18px;
  margin: 5px;
}
.pages-icon > div > a {
  margin: 15px 0px;
  text-decoration: none;
  color: black;
}
.pages-icon > div > a > img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.dots {
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.2s;
  transition-delay: 450ms;
}
.pages-icon > div:hover .dots {
  opacity: 1;
}
.pages-icon > div:hover {
  background-color: #3e3e3e2a;
}
footer {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
}
#menu-footer {
  width: 230px;
  height: 40px;
  border: 1px solid #3e3e3e2a;
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin: 0 50px;
  box-shadow: 2px 2px #3e3e3e2a;
}
#menu-footer > img {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
#menu-footer:hover {
  background-color: #0090f723;
  cursor: pointer;
}
