*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
ul > li{
  float: left;
}
nav{
  width: 100vw; 
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img{
  width: 100px;
  height: 100px;
}
#icon-menu{
  display: none;
}
#img-content{
  width: 400px;
  height: 400px;
}
section{
  display: flex;
  align-items: center;
  padding: 30px;
}
div{
  width: 60vw;
  height: 100vh;
  position: absolute;
  top: 	0;
  left: -60vw;
  color: brown;
  background-color: rgba(222, 184, 135, 0.459);
  transition: 0.5s;
  /* display: none; */
}
#menu{
  display: none;
}
#menu:checked ~ div{
  left: 0;
  display: block;
}
@media(max-width: 700px){
  nav > ul, input{
    display: none;
  }
  #icon-menu{
    width: 30px;
    height: 30px;
    display: block;
  }
  #img-content{
    width: 200px;
    height: 200px;
  }
  section{
    flex-direction: column;
  }
}
